<%- include('partials/header'); -%>

<form class="form" action="/createStore" method="POST">
    <h2>create Store</h2>
    <label for="name">Store Name</label>
    <input type="text" name="name"/>
    
    <button class="btn-Up">Create</button>
  </form>

  <div>
    <% stores.forEach(store => { %>
        <div> <%= store.storeName %> </div>
   <% }) %>
</div>





<%- include('partials/footer'); -%>
