<%- include('partials/header'); -%>


<div>
    <% stores.forEach(store => { %>
        <div><a href="showstore/<%= store._id %>" ><%= store.storeName %></a> </div>
   <% }) %>
</div>





<%- include('partials/footer'); -%>