<%- include('partials/header'); -%>


<div>
    <h1>cant see what you're looking for <a href="/createStore">CLICK HERE to create store</a> </h1><br>
    <% stores.forEach(store => { %>
        
        <h4>
            <div class="review-list">
                <li>
                    <a href="showstore/<%= store._id %>" ><%= store.storeName %></a>
                </li> 
            </div>
        </h4>
        
   <% }) %>
   
</div>





<%- include('partials/footer'); -%>